<div ng-show="subdrop" class="xl:hidden fixed z-30 transition-transform duration-200 ease-in-out subdropdown bg-white fade w-full overflow-y-scroll"
style="height: 100vh;">
	<span ng-click="showSubDrop(0)" id="back" class="cursor-pointer pt-4">◄ Retour</span>
	<p class="h mx-5">
		LA POMPE À CHALEUR
	</p>	
	<a href="/about/pac-air-air.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Pompe à chaleur air-air
	</a>	
	<a href="/about/pac-air-eau.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Pompe à chaleur air-eau
	</a>	
	<a href="/about/pac-geo.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Pompe à chaleur géothermique
	</a>
	<div class="mb-5">
		<a class="sim mx-5">
			<span>Je simule mon projet</span>
			<span>►</span>
		</a>
	</div>
	<p class="h mx-5">
		LA CHAUDIÈRE
	</p>	
	<a href="/about/chaudiere-condensation.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Chaudière à condensation 
	</a>	
	<a href="/about/chaudiere-granule.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Chaudière à granulés 
	</a>	
	<a href="/about/chaudiere-buche.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Chaudière à bûche 
	</a>
	<p class="h mx-5">
		LE POÊLE
	</p>	
	<a href="/about/poele-granule.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Poêle à granulés
	</a>	
	<a href="/about/poele-buche.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Poêle à bûches
	</a>
	<p class="h mx-5">
		AUTRES TRAVAUX
	</p>
	<a href="/about/insert-cheminee.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Insert cheminée
	</a>	
	<a href="/about/chauffe-eau-thermo.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Chauffe-eau thermodynamique 
	</a>	
	<a href="/about/radiateur-electrique.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Radiateur électrique
	</a>	
	<a href="/about/thermostat.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Thermostat 
	</a>
</div>
