<div ng-show="subdrop" class="xl:hidden fixed z-30 transition-transform duration-200 ease-in-out subdropdown bg-white w-full overflow-y-scroll"
style="height: 100vh;">
	<span ng-click="showSubDrop(0)" id="back" class="cursor-pointer pt-4">◄ Retour</span>
	<p class="h mx-5">
		LES COMBLES
	</p>	
	<a href="/about/combles-perdus.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Combles perdus
	</a>	
	<a href="/about/combles-amenageable.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Combles aménageable
	</a>	
	<a href="/about/toiture-terrasse.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Toiture terrasse
	</a>
	<div class="mb-5">
		<a class="sim mx-5">
			<span>Je simule mon projet</span>
			<span>►</span>
		</a>
	</div>
	<p class="h mx-5">
		LES MURS
	</p>	
	<a href="/about/ite.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Isolation extérieur
	</a>	
	<a href="/about/iti.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Isolation intérieur
	</a>
	<p class="h mx-5">
		AUTRES TRAVAUX
	</p>	
	<a href="/about/isolation-du-sol.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Isolation du sol
	</a>	
	<a href="/about/isolation-des-fenetres.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Isolation des fenêtres
	</a>	
	<a href="/about/vmc-double-flux.html" class="a mx-5 mb-5">
		<img src="/img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Toiture terrasse
	</a>
</div>
