<div ng-class="{'ng-hide': !show}" class="all absolute flex justify-around bg-white rounded-xl p-4"
style="width: 1000px">
  <div class="p-5">
	  <h2 class="font-bold text-lg mb-8">LA POMPE À CHALEUR
</h2>
	  <ul class="flex flex-col ul2">
		  <a href="/about/pac-air-air.html"><li>Pompe à chaleur air-air</li></a>
		  <a href="/about/pac-air-eau.html"><li>Pompe à chaleur air-eau</li></a>
		  <a href="/about/pac-geo.html"><li>Pompe à chaleur géothermique</li></a>
	  </ul>
	  <a href="/simulation" id="simulate">Je simule mon projet</a>
  </div>
  <div class="vertical-hr"></div>
  <div class="p-5">
	  <h2 class="font-bold text-lg mb-8">LA CHAUDIÈRE</h2>
	  <ul class="flex flex-col ul2">
		  <a href="/about/chaudiere-condensation.html"><li>Chaudière à condensation</li></a>
		  <a href="/about/chaudiere-granule.html"><li>Chaudière à granulés</li></a>
		  <a href="/about/chaudiere-buche.html"><li>Chaudière à bûches</li></a>
	  </ul>
  </div>
  <div class="vertical-hr"></div>
  <div class="p-5">
  <h2 class="font-bold text-lg mb-8">LE POÊLE</h2>
	  <ul class="flex flex-col ul2">
		  <a href="/about/poele-granule.html"><li>Poêle à granulés</li></a>
		  <a href="/about/poele-buche.html"><li>Poêle à bûches</li></a>
	  </ul>
  </div>
  <div class="vertical-hr"></div>
   <div class="p-5">
	  <h2 class="font-bold text-lg mb-8">Autres travaux</h2>
	  <ul class="flex flex-col ul2">
		  <a href="/about/insert-cheminee.html"><li>Insert cheminée</li></a>
		  <a href="/about/chauffe-eau-thermo.html"><li>Chauffe-eau thermodynamique</li></a>
		  <a href="/about/radiateur-electrique.html"><li>Radiateur électrique</li></a>
		  <a href="/about/thermostat.html"><li>Thermostat</li></a>
	  </ul>
  </div>
</div>