<a href="/about/.html"></a><div ng-class="{'ng-hide': !show}" class="all absolute flex justify-around bg-white rounded-xl p-4"
style="width: 700px">
  <div class="p-5">
	  <h2 class="font-bold text-lg mb-8">Les Combles</h2>
	  <ul class="flex flex-col ul2">
		  <a href="/about/combles-perdus.html"><li>Combles perdus</li></a>
		  <a href="/about/combles-amenageable.html"><li>Combles aménageables</li></a>
		  <a href="/about/toiture-terrasse.html"><li>Toiture terrasse</li></a>
	  </ul>
	  <a href="/simulation" id="simulate">Je simule mon projet</a>
  </div>
  <div class="vertical-hr"></div>
  <div class="p-5">
	  <h2 class="font-bold text-lg mb-8">Les Murs</h2>
	  <ul class="flex flex-col ul2">
		  <a href="/about/ite.html"><li>Isolation extérieure</li></a>
		  <a href="/about/iti.html"><li>Isolation inérieure</li></a>
	  </ul>
  </div>
  <div class="vertical-hr"></div>
   <div class="p-5">
	  <h2 class="font-bold text-lg mb-8">Autres travaux</h2>
	  <ul class="flex flex-col ul2">
		  <a href="/about/isolation-du-sol.html"><li>Isolation du sol</li></a>
		  <a href="/about/isolation-des-fenetres.html"><li>Isolation des fenêtres</li></a>
		  <a href="/about/vmc-double-flux.html"><li>VMC double flux</li></a>
	  </ul>
  </div>
</div>