h1 {
	color: var(--color-text);
	font-family: gilroybold,Arial,sans-serif;
	font-weight: 500;
	font-size: 40px;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 20px;
	text-align: center;
}

.main-left > * {
	margin-bottom: 10px;
}

.main-left span {
	color: var(--color-text);
	font-family: gilroybold,Arial,sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}

details {
	border: 1px solid var(--color-other);
	border-radius: 20px;
	padding: 5px;
}

details[open] svg {
	transform: rotate(90deg);
}

ol li::marker {
	color: var(--color-other);
}

ol li {
	margin-bottom: 5px;
	color: var(--color-text);
	font-family: gilroybold,Arial,sans-serif;
	font-weight: 500;
}

.right-side h2 {
	color: var(--color-text);
	font-family: gilroybold,Arial,sans-serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 20px;
	text-align: center;
}

.right-side p 
{
	color: var(--color-text);
	font-family: gilroybold,Arial,sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}

.bilan {
	font-size: 25px;
	font-weight: 900;
}