<div ng-show="drop" class="xl:hidden bg-white w-full h-full fixed z-20 pt-4 fade opacity-0"
id="dropdown">
  <ul class="flex flex-col items-center list-none ul3 px-6">
	  <li ng-click="showSubDrop(1)">Isolation</li>
	  <li ng-click="showSubDrop(1)">Chauffage</li>
	  <li ng-click="showSubDrop(1)">Solaire</li>
	  <li ng-click="showSubDrop(1)">Rénovation globale</li>
	  <li ng-click="showSubDrop(1)">Aides et Primes</li>
	  <li ng-click="showSubDrop(1)">Actualité</li>
  </ul>
  <div class="flex justify-center">
	  <button class="btn">Demander un Devis</button>
  </div>
</div>