<div ng-show="drop" class="xl:hidden bg-white w-full fixed z-20 pt-4 fade opacity-0 overflow-y-scroll"
id="dropdown"
style="height: 100vh;">
  <ul class="flex flex-col items-center list-none ul3 px-6">
	  <li ng-click="showSubDrop(1, 'isolation')">Isolation</li>
	  <li ng-click="showSubDrop(1, 'chauffage')">Chauffage</li>
	  <li ng-click="showSubDrop(1, 'solaire')">Solaire</li>
	  <li ng-click="showSubDrop(1, 'reno')">Rénovation globale</li>
	  <li ng-click="showSubDrop(1, 'aide')">Aides et Primes</li>
	  <a href="/actualite" class="w-full justify-between"><li>Actualité</li></a>
  </ul>
  <div class="flex justify-center">
	  <button class="btn">Demander un Devis</button>
  </div>
</div>