<!-- HEADER SECTION  -->
<div class="fixed top-0 shadow-2xl top-0 py-1 lg:py-2 w-full bg-white z-50 dark:bg-gray-900">
<div id="scroll0" class="w-full fixed top-0 scroll0">
  <div id="scroll" class="scroll"></div>
</div>
<nav class="z-10 sticky top-0 left-0 right-0 max-w-* xl:max-w-* px-5 py-2.5 lg:border-none lg:py-4">
    <div class="flex justify-between items-center">
        <!-- LOGO SECTION -->
        <ng-include
        id="logo"
        src="'/templates/logo.html'">
        </ng-include>
        <div class="hidden xl:flex xl:flex-1">
            <ul class="flex text-base font-bold text-black/60 dark:text-white overflow-visible ul">
                <li ng-repeat="item in items" ng-mouseover="show=true" ng-mouseleave="show=false"
                    class="p-4">
                    <a href="#">{{ item }}</a>
                    <div ng-class="{'ng-hide': !show}" class="up">
                    </div>
                    <!-- progress bar -->
                    <div ng-class="{'ng-hide': !show}" class="all2 rounded-xl absolute"></div>
                    <!-- dropdown menu -->
                    <ng-include
                    src="'/templates/items/'+ item.split(' ')[0] +'.html'">
                    </ng-include>             
                </li>
                <a href="/actualite">
                  <li class="p-4">
                    Actualités
                  </li>
                </a>
            </ul>
        </div>
        <!-- SIMULATION BUTTON -->
        <ng-include
        src="'/templates/simulation-btn.html'">
        </ng-include>
        <!-- RESPONSIVE NAV SECTION -->
        <ng-include
        style="order: 3;"
        src="'/templates/responsive-nav.html'">
        </ng-include>
    </div>
</nav>