<div class="mt-16 bg-cover bg-no-repeat bg-center bg-fixed" id="background" style="height: 100vh">
    <div class="">
      <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 rounded-r-xl ">
        <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12 text-white">
          <div>
            <p class="relative inline-block px-3 py-px mb-4 text-lg font-bold tracking-wider uppercase rounded-full bg-teal-accent-400 z-10">
              REA
            </p>
          </div>
          <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto">
            <span class="relative inline-block text-white">
              <span class="font-mono relative">Le solaire accessible à tous</span>
            </span>
          </h2>
          <p class="text-anim text-base lg:text-lg">
            <span class="text_1">Découvrez nos offres</span>
            <span class="text_2">Ainsi que notre accompagnement sur mesure !</span>
          </p>
        </div>
      </div>
    </div>
    <div class="absolute left-0 w-11/12 bg-transparent rounded-r-xl hero" style="height: 170px; bottom: 0px;background-color: #f7f9ff;">
      <div class="grid shadow-lg place-items-center grid-cols-5 gap-3 place-content-center justify-around h-full w-full p-4 rounded-r-xl rounded shadow hero1">
        <div class="first-grid  border-none outline-none p-4 rounded-xl text-center cursor-pointer"
        style="--colour:#66fb04">
          <div class="w-12 h-12 mx-auto mb-4 rounded-full bg-indigo-50">
            <svg class="w-10 h-10 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
              <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </div>
          <p class="font-bold tracking-wide text-gray-800">isoler ma maison</p>
        </div>       
        <div class="first-grid  border-none outline-none p-4 rounded-xl text-center cursor-pointer"
        style="--colour:#7ffe59">
          <div class="w-12 h-12 mx-auto mb-4 rounded-full bg-indigo-50">
            <svg class="w-10 h-10 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
              <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </div>
          <p class="font-bold tracking-wide text-gray-800">isoler ma maison</p>
        </div>          
        <div class="first-grid  border-none outline-none p-4 rounded-xl text-center cursor-pointer"
        style="--colour:#59fe63">
          <div class="w-12 h-12 mx-auto mb-4 rounded-full bg-indigo-50">
            <svg class="w-10 h-10 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
              <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </div>
          <p class="font-bold tracking-wide text-gray-800">isoler ma maison</p>
        </div>         
        <div class="first-grid  border-none outline-none p-4 rounded-xl text-center cursor-pointer"
        style="--colour:#59fe7f">
          <div class="w-12 h-12 mx-auto mb-4 rounded-full bg-indigo-50">
            <svg class="w-10 h-10 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
              <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </div>
          <p class="font-bold tracking-wide text-gray-800">Calculer primes et aides</p>
        </div>      
        <div class="last-hero first-grid  border-none outline-none p-4 rounded-xl text-center cursor-pointer"
        style="--colour:#74f0a7">
          <div class="w-12 h-12 mx-auto mb-4 rounded-full bg-indigo-50">
            <svg class="w-10 h-10 text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
              <polygon stroke-width="3" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </div>
          <p class="font-bold tracking-wide text-gray-800">Quels travaux réaliser ?</p>
        </div> 
      </div>
    </div>
  </div>
 