<section class="relative shadow-2xl reveal">
  <div class="mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-10/12 md:w-6/12 lg:w-4/12 px-12 md:px-4 mr-auto ml-auto -mt-78">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg"
        style="background: #4dd8a6">
          <img alt="..." src="img/eolienne.jpg" class="w-full align-middle rounded-t-lg">
          <blockquote class="relative p-8 mb-4 flex flex-col justify-center items-center">
            <h4 class="text-xl font-bold text-white">
              BLABLA
            </h4>              
            <p class="text-md font-light mt-2 text-white">
              BLABLA
            </p>
          </blockquote>
        </div>
      </div>

      <div class="w-full md:w-6/12 px-4">
        <div class="flex flex-wrap main-justify">
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col mt-4 lg:shadow-xl xl:shadow-xl 2xl:shadow-xl main-justify">
              <div class="px-4 py-5 flex-auto">
                <div class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-sitemap"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">blabla</h6>
                <p class="mb-4 text-blueGray-500">
                  blabla
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0 lg:shadow-xl xl:shadow-xl 2xl:shadow-xl main-justify">
              <div class="px-4 py-5 flex-auto">
                <div class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-drafting-compass"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">
                  blabla
                </h6>
                <p class="mb-4 text-blueGray-500">
                  blabla
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-6/12 px-4">
            <div class="relative flex flex-col min-w-0 mt-4 lg:shadow-xl xl:shadow-xl 2xl:shadow-xl main-justify">
              <div class="px-4 py-5 flex-auto">
                <div class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-newspaper"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">blabla</h6>
                <p class="mb-4 text-blueGray-500">
                  blabla
                </p>
              </div>
            </div>
            <div class="relative flex flex-col min-w-0 shadow-none lg:shadow-xl xl:shadow-xl 2xl:shadow-xl main-justify">
              <div class="px-4 py-5 flex-auto">
                <div class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-white">
                  <i class="fas fa-file-alt"></i>
                </div>
                <h6 class="text-xl mb-1 font-semibold">blabla</h6>
                <p class="mb-4 text-blueGray-500">
                  blabla
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  