<div class="slider reveal">
      <div class="slide-track">
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>		
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>		
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>		
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>		
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>		
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>		
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>        
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>        
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>       
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>        
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>        
          <div class="slide">
              <img src="img/partenaires/6.png" height="100" width="250" alt="" />
          </div>
      </div>
  </div>
