<div ng-show="subdrop" class="lg:hidden absolute z-30 transition-transform duration-200 ease-in-out subdropdown bg-white fixed fade h-full w-full">
	<span ng-click="showSubDrop(0)" id="back" class="cursor-pointer pt-4">◄ Retour</span>
	<p class="h mx-5">
		LES COMBLES
	</p>	
	<a class="a mx-5 mb-5">
		<img src="img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Combles perdus
	</a>	
	<a class="a mx-5 mb-5">
		<img src="img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Combles aménageable
	</a>	
	<a class="a mx-5 mb-5">
		<img src="img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Toiture terrasse
	</a>
	<div class="mb-5">
		<a class="sim mx-5">
			<span>Je simule mon projet</span>
			<span>►</span>
		</a>
	</div>
	<p class="h mx-5">
		LES MURS
	</p>	
	<a class="a mx-5 mb-5">
		<img src="img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Isolation extérieur
	</a>	
	<a class="a mx-5 mb-5">
		<img src="img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Isolation intérieur
	</a>
	<p class="h mx-5">
		AUTRES TRAVAUX
	</p>	
	<a class="a mx-5 mb-5">
		<img src="img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Isolation du sol
	</a>	
	<a class="a mx-5 mb-5">
		<img src="img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Isolation des fenêtres
	</a>	
	<a class="a mx-5 mb-5">
		<img src="img/isolation-combles-2.svg" width="32px" height="32px;"/>
		Toiture terrasse
	</a>
</div>
