  <!-- HERO SECTION -->
  <ng-include
  src="'templates/hero.html'">
  </ng-include>
  <!-- SLIDER TO UPDGRAD -->
  <ng-include
  src="'templates/slider.html'">
  </ng-include>
  <!-- CLICK SECTION -->
  <ng-include
  src="'templates/click.html'">
  </ng-include>
  <!-- MAIN SECTION -->
  <ng-include
  src="'templates/main.html'">
  </ng-include>
  <!-- VIDEO SECTION -->
  <ng-include
  src="'templates/video.html'">
  </ng-include>
  <!-- NUMBER SECTION  -->
  <ng-include
  src="'templates/number.html'">
  </ng-include>
  <!-- GRID SECTION -->
  <ng-include
  src="'templates/grid.html'">
  </ng-include>
  <!-- RGE SECTION -->
  <ng-include
  src="'templates/rge.html'">
  </ng-include>