h1 {
	color: #003250;
	font-family: gilroybold,Arial,sans-serif;
	font-weight: 500;
	font-size: 40px;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 20px;
	text-align: center;
}

@media screen and (max-width: 380px) {
	h1 {
		font-size: 20px;
	}
}

.text {
	color: #003250;
	font-family: gilroybold,Arial,sans-serif;
}


/* IMG GROW */
.img {
	transition-duration: 2s;
}

.img:hover {
	transform: scale(1.2);
}